* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #ff6f47;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #ff6f47;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.edit-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.edit-btn {
  background: rgb(104, 194, 224);
  padding: 10.4px;
  font-size: 24px;
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  /* appearance是用來消除表單默認的樣式，因為我們的表單是要自定義的 */
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
  font-size: 0.9rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  /* pointer-events是用來穿透element的,由於我們希望觸發下拉選單的功能必須要在整塊選單上(包含::after這個勾勾部分)都能點擊，
  所以這裡的pointer-events: none可以讓我們穿透這塊::after勾勾,如願的點在選單上 */
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: white;
  color: #ff6f47;
}

.todo-input::-webkit-input-placeholder {
  color: #b9b9b9;
  font-size:28px;
}
.todo-input::-moz-input-placeholder {
  color: #b9b9b9;
  font-size:28px;
}
.todo-input::-ms-input-placeholder {
  color: #b9b9b9;
  font-size:28px;
}

.no-todos {
  color: rgb(255, 255, 255);
  font-size: 36px;
  margin-top: 20px;
}

#editValue {
  min-width: 100px;
  width: 22vw;
  padding: 4px 0;
  margin: 0 5px;
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  form > input {
    width: 55vw;
    margin-left: 10px;
  }
}

@media screen and (max-width: 450px) {
  form > input {
    width: 55vw;
    margin-left: 10px;
  }
  .select {
    width: 48px;
  }
}